<table style="width: 100%; background-color: #e5e5e5">
    <tr>
        <th colspan=3 align="left">{{ film.name }}
            {% if current_user.is_admin or current_user.id == film.user_id %}
            <a style="text-align: right" href="{{ url_for('main.edit_film', film_id=film.id) }}">Edit</a>
            <a style="text-align: right" href="{{ url_for('main.delete_film', film_id=film.id) }}">Delete</a>
            {% endif %}
        </th>
    </tr>
    <tr>
        <td style="width: 150px; vertical-align:top; padding: 2px">
            <img src="{{film.image_path}}" alt="" width="150px" height="200px">
        </td>
        <td style="vertical-align:top">
            <div><b>Release date:</b> {{ film.release_date }}</div>
            <div><b>Genres:</b> {% for genre in film.genres %} {{ genre }} {% endfor %}</div>
            <div><b>Director:</b> {{ film.director or "Unknown" }}</div>
            <div><b>Rating:</b> {{ film.rating }}</div>
            <div><b>Added by:</b> {{ film.user }}</div>
            <div><b>Description:</b><br>{{ film.description }}</div>
        </td>
    </tr>
</table>
<br>