{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Film Archive{% else %}Welcome to Film Archive{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Film Archive</a>
            <a class="navbar-brand" href="{{ url_for('apifairy.docs') }}">API docs</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('main.add_film') }}">Add Film</a></li>
                {% if current_user.is_admin %}
                <li><a href="{{ url_for('main.add_director') }}">Add Director</a></li>
                <li><a href="{{ url_for('main.remove_director') }}">Remove Director</a></li>
                {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
</div>
{% endblock %}
