{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Edit Film</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <img src="{{current_poster}}" alt="" width="150px" height="200px"><br>
</div>

{% endblock %}