{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if current_user.is_anonymous %}
<h2>Hi, stranger!</h2>
{% else %}
<h2>Hi, {{ current_user.username }}!</h2>
{% endif %}
<form class="navbar-form" role="search">
    <div class="form-group">
        {{ form.q(size=20, class='form-control', placeholder="Search by title") }}
    </div>
    <div class="form-group">
        {{ form.genre.label }}
        {{ form.genre(class='form-control', **{"onchange":"this.form.submit()"}) }}
    </div>
    <div class="form-group">
        {{ form.director.label }}
        {{ form.director(class='form-control', **{"onchange":"this.form.submit()"}) }}
    </div>
    <div class="form-group">
        {{ form.year.label }}
        {{ form.year(class='form-control', **{"onchange":"this.form.submit()"}) }}
    </div>
    <div class="form-group">
        {{ form.order_by.label }}
        {{ form.order_by(class='form-control', **{"onchange":"this.form.submit()"}) }}
    </div>
    <button type="submit" class="btn btn-default">Find film</button>
</form>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Prev
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Next <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% for film in films %}
{% include '_film.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Prev
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Next <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}